{"dhisUrl":"http://localhost:8090/dhis","fingerprintUrl":"http://localhost:8090/NepalFingerprintServer","host":"localhost","port":8090,"attribute_fid":"UHoTGT1dtjj","attribute_fid_code":"fingerprint_id","attribute_template":"uiOMHu4LtAP","attribute_template_code":"fingerprint_str","attrubute_client_code":"drKkLxaGFwv","program_hiv":"L78QzNqadTV"}