{"dhisUrl":"https://tracker.hivaids.gov.np/save-child-2.27","fingerprintUrl":"http://localhost:8080/NepalFingerprintServer","host":"tracker.hivaids.gov.np","port":443,"attribute_fid":"UHoTGT1dtjj","attribute_fid_code":"fingerprint_id","attribute_template":"uiOMHu4LtAP","attribute_template_code":"fingerprint_str","attrubute_client_code":"drKkLxaGFwv","program_hiv":"L78QzNqadTV"}